.cursor{
    cursor: pointer !important;
}

@media (max-width: 776px) {
    .padd{
        padding: 0 !important;
    }

    .log-in-title{

        h3,h4{
            text-align: center;
        }
    }
    }