

.dashboard-right-sidebar{
    padding: 10px 5px;
}

@media (max-width: 991px) {

    .dashboard-right-sidebar{
        padding: 10px 3px;
    }
}


   
/* iPad بورتريه (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}

/* iPad لاندسكيب (Landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container-md, .container-sm, .container {
    max-width: 874px !important;
}

}

/* شاشات أقل من 776px */
@media (max-width: 776px) {
#account{
    padding: 0px !important;
}
}
