// .bg-theme-Subcolor{
//     background-color: var(--theme-Subcolor) !important;

// }

.information-text{
    font-size: 13px !important;
}

.text-content {
    color: #fff !important;
  }

.text-underline {

  text-decoration: underline !important;}