 
   
   @if(isBrowser)
   {

   <section class="log-in-section section-b-space forgot-section  ">
      <div class="container-fluid-lg w-100">
         <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
               <div class="image-contain">
                  <img src="assets/images/inner-page/forgot.png" class="img-fluid" alt="image">
               </div>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
               <!-- <app-alert></app-alert> -->
               <div class="log-in-box">
                  <div class="log-in-title">
                     <h3>{{ 'welcome_to' | translate }} {{ (setting$ | async)?.general?.site_name }}</h3>
                     <h4>{{ 'forgot_your_password' | translate }}</h4>
                  </div>
                  <div class="input-box">
                     <form class="row g-4" [formGroup]="form" (ngSubmit)="submit()">
                     
                        <div class="col-12 phone-field">
                           <div class="form-floating log-in-form">
                              <input type="text" class="form-control" id="mobile"
                              maxlength="11" minlength="11" onlyNumbers
                              formControlName="mobile" placeholder="{{ 'phone Number' | translate }}"

                              [ngbTooltip]="
                              fc['mobile'].errors?.['required']
                                ? ('this_field_is_required' | translate)
                                : fc['mobile'].errors?.['minlength']
                                  ? 'password should be more than 6 characters'
                                  : null"
                                       [ngClass]="{
                                         'invalid': fc['mobile'].invalid && (fc['mobile'].dirty || fc['mobile'].touched),
                                         'valid': fc['mobile'].valid && (fc['mobile'].dirty || fc['mobile'].touched),
                                       }">
                              <label for="mobile">{{ 'mobile_number' | translate }}</label>

                              @if(form.controls['mobile'].touched && form.controls['mobile'].errors?.['required']){
                                 <div class="invalid-feedback">{{ 'phone_number_is_required' | translate }}</div>
                              }
                         
                              @if(form.controls['mobile'].touched && form.controls['mobile'].errors?.['minlength']){
                                 <div class="invalid-feedback">
                                    {{ 'mobile Number should be more than' | translate }}  {{form.controls['mobile'].value.length}} == 11 {{ 'characters' | translate }}
                                 </div>
                              }
                              <select2 class="custom-select intl-tel-input" [data]="codes" [templates]="template" formControlName="country_code">
                                 <ng-template #template let-data="data">
                                    <div class="country">
                                       <div class="flag-box">
                                          <div class="iti-flag {{data?.class}}"></div>
                                       </div>
                                       <span class="dial-code">{{data.code}}</span>
                                    </div>
                                 </ng-template>
                              </select2>
                           </div>
                        </div>

                        @if(reCaptcha){
                           <div class="col-12">
                              <re-captcha formControlName="recaptcha"> </re-captcha>

                              @if(form.controls['recaptcha'].touched && form.controls['recaptcha'].errors?.['required']){
                                 <div class="invalid-feedback">
                                    {{ 'reCaptcha is required' | translate }}
                                 </div>
                              }
                           </div>
                        }
                        <div class="col-12">
                           <app-button [id]="'forgot_btn'">{{ 'send' | translate }}</app-button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


}


   