<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>


		<httpErrors errorMode="Detailed"></httpErrors>

		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="ExcludeWellKnown" stopProcessing="true">
					<match url="^\.well-known/.*$" />
					<action type="None" />
				</rule>
				
			    <rule name="ExcludeSitmap" stopProcessing="true">
            <match url="^sitemap/.*$" />
            <action type="None" />
					
        </rule>
				<rule name="ExcludeSitmapxml" stopProcessing="true">
					<match url="^sitemap.xml" />
					<action type="None" />
				</rule>
				<rule name="Excludetechnicalservices" stopProcessing="true">
					<match url="^sitemap_technicalservices.xml" />
					<action type="None" />
				</rule>
				<rule name="Excludesavingpackagesxml" stopProcessing="true">
					<match url="^sitemap_savingpackages.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeNewsxml" stopProcessing="true">
					<match url="^sitemap_news.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeMainxml" stopProcessing="true">
					<match url="^sitemap_main_index.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeLegalservicesxml" stopProcessing="true">
					<match url="^sitemap_legalservices.xml" />
					<action type="None" />

				</rule>
				<rule name="ExcludeGovernmentservicesxml" stopProcessing="true">
					<match url="^sitemap_governmentservices.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeFinancialservicesxml" stopProcessing="true">
					<match url="^sitemap_financialservices.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeBusinessbundlesxml" stopProcessing="true">
					<match url="^sitemap_businessbundles.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeAdministrativeservicesxml" stopProcessing="true">
					<match url="^sitemap_administrativeservices.xml" />
					<action type="None" />
				</rule>
				<rule name="ExcludeAccountingservicesxml" stopProcessing="true">
					<match url="^sitemap_accountingservices.xml" />
					<action type="None" />
				</rule>
				<rule name="Excluderobots" stopProcessing="true">
					<match url="^robots.txt" />
					<action type="None" />
				</rule>
				<rule name="DynamicContent">
					<match url="/*" />
					<action type="Rewrite" url="app.js" />
				</rule>
				<rule name="StaticContent" stopProcessing="true">
					<match url="([\S]+[.](jpg|jpeg|gif|css|png|js|ts|cscc|less|ico|html|map|svg))" />
					<action type="None" />
				</rule>
			
				<rule name="ApplyPay" stopProcessing="true">
					<match url=".well-known/apple-developer-merchantid-domain-association" />
					<action type="Rewrite" url=".well-known/apple-developer-merchantid-domain-association.txt" appendQueryString="false" />
				</rule>
			
			</rules>
		</rewrite>
		<staticContent>

			<clientCache cacheControlMode="UseMaxAge" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
			<mimeMap fileExtension=".otf" mimeType="application/otf" />
		<mimeMap fileExtension=".mjs" mimeType="application/javascript" />
			<mimeMap fileExtension=".html" mimeType="text/html" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<mimeMap fileExtension="." mimeType="application/octet-stream" />
		
		</staticContent>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000" />
				<verbs allowUnlisted="true">
					<add verb="POST" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>

		</system.webServer>

	
	<system.web>
		<customErrors  mode="Off" />

	</system.web>
</configuration>