// .blog-detail-contain p::first-letter {
//     width: calc(38px + 12*(100vw - 320px) / 1600);
//     height: calc(38px + 12*(100vw - 320px) / 1600);
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     font-size: calc(55px + 15*(100vw - 320px) / 1600);
//     color: #6b4e45;
//     // float: left;
//     margin-right: calc(8px + 12*(100vw - 320px) / 1600);
//     margin-top: 8px;
// }
.blog-detail-contain p{
color:  var(--theme-Subcolor) !important;
}



.bold{
    font-family: 'LamaSansBold' !important;
  
  }
  .Medium{
    font-family: 'LamaSansMedium' !important;
  
  }
  
  h6{
    color: var( --theme-colorTwo);
    font-family: 'LamaSansMedium' !important;
    }
  
    b {
      font-family: 'LamaSansRegular' !important;
  font-size: 14px;
  }
   .label-tag ,.label-flex label,del.bold, .discountPercent ,.bold{
  span{
  font-family: 'LamaSansBold' !important;
  
  }
  }
  .Regular {
    font-family: 'LamaSansRegular' !important;
   }
   del{
    font-size: 12px;
  font-family: 'LamaSansBold' !important;
  
   }


   
   
/* iPad بورتريه (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  
  li .size-box.detail  {
   display: flex !important
 ;
   align-items: center;
 }
 
 
 }
 
 /* iPad لاندسكيب (Landscape) */
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   .container-md, .container-sm, .container {
     max-width: 874px !important;
 }
 
 }
 
 /* شاشات أقل من 776px */
 @media (max-width: 776px) {
  h2{
    font-size: 20px;
  }
  .row{
    flex-direction: column-reverse;
  }
  
 
 }