<div class="bg-white ">

@if(ServiceGetById){

<!-- 
@if(ServiceGetById.productMediaList){

    <section class="product-list-section bg-white " >
      <div class="container-fluid-lg mt-lg-5">
        <app-service-media
          [serviceMediaList]="ServiceGetById.productMediaList"
          [class]="'banner-slider   pfor'"
        ></app-service-media>
      </div>
    
    </section>
    }
   -->
<!-- Product Details Layout -->
<section
  class="product-section"
  [class.section-b-space]="!ServiceGetById"
  [class.theme-product-section5]="layout === 'product_digital'"
>
  <!-- @if(layout == 'product_thumbnail'){ -->
  <app-product-thumbnail
    [ServiceGetById]="ServiceGetById"
  ></app-product-thumbnail>
  <!-- } -->
</section>

<!-- Related Products -->
@if(MostViewedServices){
<section
  class="product-list-section releted-product section-b-space bg-w hite"
  id="MostViewedServices"
  appLazyLoadSection
  (sectionInView)="MostViewedServicesParent = $event"
>
  @if(MostViewedServicesParent){

  <app-related-products
    [serviceCategoryId]="ServiceGetById.categoryId"
    [title]="'Home.header.MostOrderedServices'"
  ></app-related-products>
  }
</section>

}

@if(ServiceGetById !=null){
     
  <app-sticky-checkout  class=" d-none d-xl-block" [ServiceGetById]="ServiceGetById"  ></app-sticky-checkout>
 }
}
</div>
