 
 @if(this.isBrowser){

<section class="log-in-section background-image-2 section-b-space bg-white">
   <div class="container-fluid-lg w-100">
      <div class="row">
         <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
            <div class="image-contain">
               <img src="assets/images/inner-page/log-in.png" class="img-fluid" alt="update password">
            </div>
         </div>
         <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto ">
            <!-- <app-alert></app-alert> -->
            <div class="log-in-box mt-3">
               <div class="log-in-title">
               <h3 class="theme-colorTwo">{{ 'welcome_to' | translate }} {{ 'site_name '|translate }}</h3>
                  <h4>{{ 'reset_your_account_password' | translate }}</h4>
               </div>
               <div class="input-box">
                  <form class="row g-4" [formGroup]="form" (ngSubmit)="submit()">
                     <div class="col-12">
                        <div>
                           <label class="form-label" for="npass">{{ 'new_password' | translate }}</label>
                           <input class="form-control" id="npass" type="password" placeholder="{{ 'enter_new_password' | translate }}" formControlName="newPassword" 
                           [ngbTooltip]="
                           fc['newPassword'].errors?.['required']
                             ? ('this_field_is_required' | translate)
                             : fc['newPassword'].errors?.['minlength']
                               ? 'password should be more than 6 characters'
                               : null"
                                    [ngClass]="{
                                      'invalid': fc['newPassword'].invalid && (fc['newPassword'].dirty || fc['newPassword'].touched),
                                      'valid': fc['newPassword'].valid && (fc['newPassword'].dirty || fc['newPassword'].touched),
                                    }"
                           />
                           @if(form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['required']){
                              <div class="invalid-feedback">
                                 {{ 'new_password_is_required' | translate }}
                              </div>
                           }
                           @if(form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['minlength']){
                              <div class="invalid-feedback">
                                 {{ 'password should be more than 6 characters' | translate }}
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-12">
                        <div>
                           <label class="form-label" for="cnpass">{{ 'confirm_password' | translate }}</label>
                           <input class="form-control" id="cnpass" type="password" placeholder="{{ 'enter_confirm_password' | translate }}" 
                           formControlName="confirmPassword"
                           [ngClass]="{
                             'invalid': fc['confirmPassword'].invalid && (fc['confirmPassword'].dirty || fc['confirmPassword'].touched),
                             'valid': fc['confirmPassword'].valid && (fc['confirmPassword'].dirty || fc['confirmPassword'].touched),
                           }"
                           [ngbTooltip]="
                           fc['confirmPassword'].errors?.['required']
                             ? ('Password is required' | translate)
                             :  fc['confirmPassword'].errors?.['mustMatch']
                                 ? ('Passwords must match' | translate)
                                 : null"
               />
                           @if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.['required']){
                              <div class="invalid-feedback">
                                 {{ 'confirm_password_is_required' | translate }}
                              </div>
                           }@else if(passwordMatchError){
                              <div class="invalid-feedback">
                                 {{ 'confirm_password_does_not_matched' | translate }}
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-12">
                        <app-button  [disabled]="!this._updateService.submit"  [id]="'confirm_pass_btn'">{{ 'submit' | translate }}</app-button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
}
