<div class="right-sidebar-box">
   <div class="vendor-box">
       <div class="vendor-contain">
           <div class="vendor-image">
               <img src="assets/images/data/product.png" class="blur-up lazyloaded" alt="">
           </div>

           
       </div>

       <p class="vendor-detail">Saudia Service is dedicated to providing top-notch solutions across various sectors, ensuring quality and reliability that exceed expectations. Join us to experience unparalleled excellence and support tailored to your needs.</p>

       <div class="vendor-list">
           <ul>
               <li>
                   <div class="address-contact">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                       <h5>Address: <span class="text-content">1288 Franklin Avenue</span></h5>
                   </div>
               </li>

               <li>
                   <div class="address-contact">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-headphones"><path d="M3 18v-6a9 9 0 0 1 18 0v6"></path><path d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"></path></svg>
                       <h5>Contact Seller: <span class="text-content">(+1)-123-456-789</span></h5>
                   </div>
               </li>
           </ul>
       </div>
   </div>

  
</div>