
@font-face {
  font-family: 'LamaSansBold';
  src: url('../../fonts/IBMPlexSans/IBMPlexSansArabic-Bold.ttf') format('truetype');
  font-weight: normal; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'LamaSemiBold';
  src: url('../../fonts/IBMPlexSans/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
  font-weight: normal; /* Medium */
  font-style: normal;
}


@font-face {
  font-family: 'LamaSansMedium';
  src: url('../../fonts/IBMPlexSans/IBMPlexSansArabic-Medium.ttf') format('truetype');
  font-weight: normal; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'LamaSansLight';
  src: url('../../fonts/IBMPlexSans/IBMPlexSansArabic-Light.ttf') format('truetype');
  font-weight: normal; /* Light */
  font-style: normal;
}

// @font-face {
//   font-family: 'LamaSansLightItalic';
//   src: url('../../fonts/IBMPlexSans/IBMPlexSansArabic-LightItalic.ttf') format('truetype');
//   font-weight: normal; /* LightItalic */
//   font-style: normal;
// }

@font-face {
  font-family: 'LamaSansRegular';
  src: url('../../fonts/IBMPlexSans/IBMPlexSansArabic-Regular.ttf') format('truetype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

// @font-face {
//   font-family: 'LamaSansRegularItalic';
//   src: url('../../fonts/IBMPlexSans/LamaSans-RegularItalic.ttf') format('truetype');
//   font-weight: normal; /* RegularItalic */
//   font-style: normal;
// }

