
@if(Bundle && Bundle.length){
   <div class="pt-25">
      <div class="category-menu">
         <h3>{{ 'Bundle' | translate  }}</h3>
         <ul class="product-list border-0 p-0 sidebar-product d-flex">
            @for(item of Bundle | slice:0:4; track item){
               <li>
                  <div class="offer-product">
                     <a [routerLink]="['/Bundle/', item.id]" class="offer-image">
                        <img [src]="item.image
                                  ? (item.image|customPipeForImages)
                                  : 'assets/images/product.png'" alt="product">
                     </a>
                     <div class="offer-detail">
                        <div>
                           <a   class="text-title">
                              <h6 class="name">{{ item.name }}</h6>
                           </a>
                  
                           <!-- @if(service.points){ -->
                              <span>{{ item.points }} ●</span>
                           <!-- } -->
                           <div class="vertical-price">
                              <h5 class="price theme-color">{{ item.price }} <span id="sar"> {{ "SAR" | translate }}</span></h5>
                  
                              <!-- @if(service.){
                                 <del class="text-content">{{ product.price | currencySymbol }}</del>
                              } -->
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            }
         </ul>
      </div>
   </div>
}
 
@if(TrendingServices && TrendingServices.length){
   <div class="pt-25">
      <div class="category-menu">
         <h3>{{ 'trending_products' | translate  }}</h3>
         <ul class="product-list border-0 p-0 sidebar-product d-flex">
            @for(service of TrendingServices | slice:0:4; track service){
               <li>
                  <!-- <app-services-box-vertical [service]="service"  ></app-services-box-vertical> -->

                  <div class="offer-product">
                     <!-- <a [routerLink]="['/product/', product.slug]" class="offer-image">
                        <img [src]="product.product_thumbnail
                                  ? product.product_thumbnail.original_url
                                  : 'assets/images/product.png'" alt="product">
                     </a> -->
                     <div class="offer-detail">
                        <div>
                           <a [routerLink]="['/service/', service.id,service.serviceName]" class="text-title">
                              <h6 class="name">{{ service.serviceName }}</h6>
                           </a>
                  
                           <!-- @if(service.points){ -->
                              <span>{{ service.points }} ●</span>
                           <!-- } -->
                           <div class="vertical-price">
                              <h5 class="price theme-color">{{ service.price  }} <span id="sar"> {{ "SAR" | translate }}</span></h5>
                  
                              <!-- @if(service.){
                                 <del class="text-content">{{ product.price | currencySymbol }}</del>
                              } -->
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            }
         </ul>
      </div>
   </div>
}
 
