// .right-box-contain{

    h2{
        color: var(--theme-colorTwo) !important;
    }
    h3 , .product-contain p {
        color: #6b4e45 !important;
    }
// }
.offer-top-one{
    // background-color:  #809c73!important;
    color: #fff !important;

}
.offer-top-tow{
    background-color:  #628993 !important;
    color: #fff !important;
}

@media (max-width: 991px) {
 .dynamic-checkout{
    width: 100% !important;
    padding-right:10px;
    padding-left:10px;
 }
}
.offer-top-one{
    margin-right:0 !important ;
}



.bold{
    font-family: 'LamaSansBold' !important;
  
  }
  .Medium{
    font-family: 'LamaSansMedium' !important;
  
  }
  
  h3{
    color: var( --theme-colorTwo);
    font-family: 'LamaSansMedium' !important;
    }
  
    b {
      font-family: 'LamaSansRegular' !important;
  font-size: 14px;
  }
   .label-tag ,.label-flex label,del.bold, .discountPercent ,.bold{
  span{
  font-family: 'LamaSansBold' !important;
  margin-left: 0 !important;
margin-right: 0px !important; 
  
  }
  }
  .Regular {
    font-family: 'LamaSansRegular' !important;
   }
   del.Regular{
    font-size: 12px  !important;;
  font-family: 'LamaSansRegular' !important;
  
   }

   .cart_qty{
    .btn{
        background-color: var(--theme-color) !important;
        color: #fff !important;
    }
   }

   .discount-box{
    background-color:  var(--theme-colorTwo) !important;
   }