

 

.bold{
    font-family: 'LamaSansBold' !important;
  
  }
  .Medium{
    font-family: 'LamaSansMedium' !important;
  
  }
  
 
   .label-tag ,.label-flex label,del.bold, .discountPercent ,.bold{
  span{
  font-family: 'LamaSansBold' !important;
  
  }
  }
  .Regular ,label{
    font-family: 'LamaSansRegular' !important;
   }
   del{
    font-size: 12px;
  font-family: 'LamaSansBold' !important;
  
   }
   .title {
    padding: 10px;
   
  }

  .image-style{
    height:  50px !important;
    width: 50px !important;
    
  }


 
  label {
    margin: 10px 5px ;
  }
  
  
  