
@if(isBrowser){

 
<div class="titl e -header w-100">
  <div class="title">
    <h2 class="theme-colorTwo bold">
      {{
        "Change_Password" | translate
      }}
    </h2>

    <span class="title-leaf title-leaf-gray">
      <svg class="icon-width bg-gray">
        <use xlink:href="../assets/svg/Small.svg#Layer_1"></use>
      </svg>
    </span>
  </div>
    @if(form){
       <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="modal-body address-form px-2">
             <div class="row g-4">
                <div class="col-xxl-12">
                   <div>
                      <label class="form-label" for="cpass">{{ 'current Password' | translate }}</label>
                      <input class="form-control" id="cpass" type="password" placeholder="{{ 'enter_current_password' | translate }}" formControlName="currentPassword"
                      [ngbTooltip]="
                      form.controls['currentPassword'].invalid &&
                      (form.controls['currentPassword'].dirty || form.controls['currentPassword'].touched)
                        ? ('this_field_is_required' | translate)
                        : null
                    " 
                            [ngClass]="{
                              'invalid': fc['currentPassword'].invalid && (fc['currentPassword'].dirty || fc['currentPassword'].touched),
                              'valid': fc['currentPassword'].valid && (fc['currentPassword'].dirty || fc['currentPassword'].touched),
                            }"/>
                      @if(form.controls['currentPassword'].touched && form.controls['currentPassword'].errors?.['required']){
                         <div class="invalid-feedback">
                            {{ 'current_password_is_required' | translate }}
                         </div>
                      }
                   </div>
                </div>
                <div class="col-12">
                   <div>
                      <label class="form-label" for="npass">{{ 'new_password' | translate }}</label>
                      <input class="form-control" id="npass" type="password" placeholder="{{ 'enter_new_password' | translate }}" formControlName="newPassword" 
                      [ngbTooltip]="
                      fc['newPassword'].errors?.['required']
                        ? ('this_field_is_required' | translate)
                        : fc['newPassword'].errors?.['minlength']
                          ? 'password should be more than 6 characters'
                          : null"
                               [ngClass]="{
                                 'invalid': fc['newPassword'].invalid && (fc['newPassword'].dirty || fc['newPassword'].touched),
                                 'valid': fc['newPassword'].valid && (fc['newPassword'].dirty || fc['newPassword'].touched),
                               }"
                      />
                      @if(form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['required']){
                         <div class="invalid-feedback">
                            {{ 'new_password_is_required' | translate }}
                         </div>
                      }
                      @if(form.controls['newPassword'].touched && form.controls['newPassword'].errors?.['minlength']){
                         <div class="invalid-feedback">
                            {{ 'password should be more than 6 characters' | translate }}
                         </div>
                      }
                   </div>
                </div>
                <div class="col-12">
                   <div>
                      <label class="form-label" for="cnpass">{{ 'confirm_password' | translate }}</label>
                      <input class="form-control" id="cnpass" type="password" placeholder="{{ 'enter_confirm_password' | translate }}" 
                      formControlName="password_confirmation"
                      [ngClass]="{
                        'invalid': (fc['password_confirmation'].invalid||passwordMatchError) && (fc['password_confirmation'].dirty || fc['password_confirmation'].touched),
                        'valid': (fc['password_confirmation'].valid&&!passwordMatchError) && (fc['password_confirmation'].dirty || fc['password_confirmation'].touched),
                      }"
                      [ngbTooltip]="
                      fc['password_confirmation'].errors?.['required']
                        ? ('Password is required' | translate)
                        :  fc['password_confirmation'].errors?.['mustMatch']
                            ? ('Passwords must match' | translate)
                            : null"
          />
                      @if(form.controls['password_confirmation'].touched && form.controls['password_confirmation'].errors?.['required']){
                         <div class="invalid-feedback">
                            {{ 'confirm_password_is_required' | translate }}
                         </div>
                      }@else if(passwordMatchError){
                         <div class="invalid-feedback">
                            {{ 'confirm_password_does_not_matched' | translate }}
                         </div>
                      }
                   </div>
                </div>
             </div>
    
             <div class="modal-footer mt-3">
                <app-button [class]="'btn theme-bg-color btn-md fw-bold text-light'" [id]="'submit_profile_btn'">
                   {{ 'submit' | translate }}
                </app-button>
             </div>
          </div>
       </form>
    }
</div>

}